
<div class="hint pills"> 
  <p style="font-size: 45px;" class=" active">
	  <a href="#" >1</a>Take Note
	  <a href="#" >2</a>Tag it &nbsp;
	  <a href="#" >3</a>Save it &nbsp;
	  <a href="#" >4</a>Search and Find
  </p>
</div>
