<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li >
<a href="/notes/<%= @note.id %>"><%= @note.description.truncate(20)%></a> <span class="divider">/</span>
  </li>
  <li class="active">
Edit Note
  </li>
</ul>

<%= render 'form' %>

