<% _(notes).map(function(note){%>
    <li class="note">
      <a href="#">
        <p><%= note.get('description').substring(0,100) %></p>
        <div class="note_tag"> 
    <p style="top: 5px;position: fixed;font-size:18px">
    	
    	<% note.get('tags').map(function(tag) { %>
    
    	<span style="z-index: 100;margin:2px;background-color:green"><%= tag %> </span>
 		<% }); %>   
    </p> 
</div>
      </a>
    </li>
 <% }); %>
